<p [ngClass]="{alert: sensor.alert}">
	<strong>{{sensor.name}}:</strong> {{sensor.lastMeasure.value}} <span *ngIf="sensor.lastMeasure.unit.abbreviation" >{{sensor.lastMeasure.unit.abbreviation}}</span> 
</p>
<div class="progress">
	<div class="determinate" [style.width]="percentage" ></div>
</div>