<div class="row">
  <div class="col s12 center-align">
    <div class="login">
      <h1>Login</h1>
      <form materialize>
        <div class="row">
          <div class="input-field col s12">
            <label for="email">Email</label>
            <input [(ngModel)]="email" id="email" name="email" type="email" placeholder="fulano@detal.com"> <br>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <label for="password">Clave</label>
            <input [(ngModel)]="password" id="password" name="password" type="password" placeholder="">
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <button class="waves-effect btn" (click)="login()">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
